<%- include('../partials/header') %>
    <ul>
      <% skills.forEach(function(s) { %>
          <li>
            <a href="/skills/<%= s.id %>"><%= s.name %></a>
          </li>
      <% }); %>
    </ul>
    <a href="/skills/new">Add Skill</a>
<%- include('../partials/footer') %>

