<%- include('../partials/header') %>

<form action="/skills" method="POST">
    Skill<br> <input type="text" name="name"><br>
    Proficiency<br> <input type="text" name="proficiency"><br>
    Years Of Experience<br> <input type="text" name="yearsOfExperience"><br>
    <button type="submit">Save</button>
</form>

<%- include('../partials/footer') %>