<!DOCTYPE html>
<html>
  <head>
    <title>Developer Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= skill.name %></h1>
    <ul>
        <li>
            <p>Proficiency: <%= skill.proficiency %></p>
        </li>
        <li>
            <p>Years of Experience: <%= skill.yearsOfExperience %></p>
        </li>
        
    </ul>
  </body>
</html>
